.command {
	cursor: pointer;
	display: inline-block;
}

.command:hover {
	color: green;
}

.commands {
	bottom: 20vh;
	left: 20vw;
	width: 60vw;
	height: 20vh;
	position: fixed;
	text-align: center;
}

.playground {
	position: fixed;
	top: 10vh;
	height: 40vh;
	left: 20vh;
	width: 60vw;
	text-align: center;
}

.player1 {
	float: left;
	margin-top: 10%;
}

.player2 {
	float: right;
	margin-top: 10%;
}

.player1 .desc, .player2 .desc {
	font-size: 200%;
	color: darkblue;
	margin-bottom: 50px;
}

#score {
	font-weight: bold;
	font-size: 150%;
	padding: 2% 5%;
}

.shakeHands {
	animation-name: shakingHands;
	animation-duration: 1s ;
	animation-iteration-count: 3;
	animation-direction: alternate;
}

@keyframes shakingHands {
    from  {
		top: 0px;
	}
    to {
		top: -30px;
	}
}
